package pages

import (
	"github.com/Open-Code-Zone/cms/types"
	"github.com/Open-Code-Zone/cms/views/components"
	"github.com/Open-Code-Zone/cms/views/layouts"
)

templ EditBlogPosts(id string, blogPost *types.BlogPost) {
	@layouts.DashboardLayout(true) {
    @components.Editor(id, blogPost)
	}
}
