package pages

import (
	"github.com/Open-Code-Zone/cms/views/components"
	"github.com/Open-Code-Zone/cms/views/layouts"
)

templ EditBlogPosts(id string, blogConfig *string, blogPost *string) {
	@layouts.DashboardLayout(true) {
		@components.Editor(id, blogConfig, blogPost)
	}
}
